.desktop-3 {
  align-items: flex-start;
  background-color: var(--tuatara);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 3477px;
  padding: 83px 70px;
  width: 1440px;
}

.flex-row-3 {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 19px;
  height: 115px;
  margin-right: 203.0px;
  margin-top: 17px;
  min-width: 569px;
}

.ellipse-3-2 {
  background-color: var(--web-orange);
  border-radius: 16.5px;
  height: 33px;
  margin-top: 2.0px;
  width: 33px;
}

.title {
  letter-spacing: 0;
  line-height: normal;
  min-height: 115px;
  min-width: 517px;
}

.flex-row-4 {
  align-items: flex-start;
  border: 10px solid;
  border-color: var(--heat-wave);
  border-radius: 20px;
  display: flex;
  gap: 100px;
  height: 3144px;
  justify-content: flex-end;
  min-width: 1247px;
  padding: 28px 23px;
}

.flex-col-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 590px;
  width: 173px;
}

.place-4 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 55px;
  transition: all 0.2s ease;
  width: 162px;
}

.place-4:hover {
  transform: translate(5px, 0);
}

.overlap-group1-1 {
  height: 56px;
  margin-top: 34px;
  position: relative;
  width: 173px;
}

.rectangle-2-2 {
  background-color: var(--web-orange);
  border-radius: 10px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 173px;
}

.portfolio-2 {
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 162px;
}

.socials {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 33px;
  min-height: 55px;
  width: 162px;
}

.flex-col-item-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 34px;
  min-height: 55px;
  width: 162px;
}

.ellipse-1-2 {
  align-self: center;
  height: 120px;
  margin-right: 7.0px;
  margin-top: 59px;
  width: 120px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  min-height: 2792px;
  width: 919px;
}

.general-assembly-uiux-boot-camp {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 11px;
  min-height: 55px;
  width: 700px;
}

.flex-row-5 {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  height: 701px;
  margin-left: 11px;
  margin-top: 34px;
  min-width: 867px;
}

.first-figma-design-f {
  letter-spacing: 0;
  line-height: normal;
  width: 150px;
}

.rectangle-21 {
  align-self: flex-end;
  height: 700px;
  object-fit: cover;
  width: 700px;
}

.freelance-work-harbor-website {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 11px;
  margin-top: 33px;
  min-height: 55px;
  width: 700px;
}

.overlap-group4 {
  height: 1895px;
  margin-top: 19px;
  position: relative;
  width: 919px;
}

.overlap-group6 {
  height: 1895px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 910px;
}

.overlap-group5-1 {
  height: 1894px;
  left: 20px;
  position: absolute;
  top: 1px;
  width: 890px;
}

.overlap-group1-2 {
  height: 1691px;
  left: 0;
  position: absolute;
  top: 203px;
  width: 890px;
}

.overlap-group2-2 {
  height: 919px;
  left: 3px;
  position: absolute;
  top: 772px;
  width: 887px;
}

.see-for-yourself {
  color: var(--white);
  font-family: var(--font-family-syne);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 777px;
  width: 498px;
}

.wwwharborband {
  color: var(--white);
  font-family: var(--font-family-syne);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 840px;
  width: 466px;
}

.rectangle-24 {
  height: 896px;
  left: 432px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 414px;
}

.x2-bottom-of-homepage {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 131px;
  width: 455px;
}

.x3-shopify-storefront {
  left: 432px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 895px;
  width: 455px;
}

.rectangle-23 {
  height: 896px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 414px;
}

.shopify-storefront-g {
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1059px;
  width: 399px;
}

.all-merchandise-spre {
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1139px;
  width: 399px;
}

.custom-ai-generated {
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1195px;
  width: 399px;
}

.logo-wheel-at-the-bo {
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 979px;
  width: 399px;
}

.rectangle-22 {
  height: 896px;
  left: 435px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 414px;
}

.x1-top-of-homepage {
  left: 435px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 903px;
  width: 455px;
}

.number {
  left: 435px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 945px;
  width: 10px;
}

.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  min-height: 184px;
  position: absolute;
  top: 0;
  width: 455px;
}

.overlap-group3-1 {
  height: 24px;
  position: relative;
  width: 455px;
}

.first-mobile-friendl {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 455px;
}

.number-1 {
  left: 434px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 10px;
}

.flex-col-item-3 {
  letter-spacing: 0;
  line-height: normal;
  width: 393px;
}

.number-2 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 203px;
  width: 10px;
}

