.desktop-4 {
  align-items: flex-start;
  background-color: var(--tuatara);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 1303px;
  padding: 74px 70px;
  width: 1440px;
}

.flex-row-7 {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 19px;
  height: 115px;
  margin-right: 339.0px;
  margin-top: 26px;
  min-width: 433px;
}

.ellipse-3-4 {
  background-color: var(--web-orange);
  border-radius: 16.5px;
  height: 33px;
  margin-top: 2.0px;
  width: 33px;
}

.title-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 115px;
  min-width: 381px;
}

.overlap-group-3 {
  align-items: flex-start;
  border: 10px solid;
  border-color: var(--heat-wave);
  border-radius: 20px;
  display: flex;
  gap: 49px;
  height: 979px;
  min-width: 1247px;
  padding: 18px 32px;
}

.flex-col-7 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 590px;
  width: 173px;
}

.place-7 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 55px;
  width: 162px;
}

.portfolio-4 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 34px;
  min-height: 55px;
  width: 162px;
}

.overlap-group1-4 {
  height: 56px;
  margin-top: 34px;
  position: relative;
  width: 173px;
}

.rectangle-3 {
  background-color: var(--web-orange);
  border-radius: 10px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 173px;
}

.socials-1 {
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 162px;
}

.artwork {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 33px;
  min-height: 55px;
  width: 162px;
}

.gallery-3 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 34px;
  min-height: 55px;
  transition: all 0.2s ease;
  width: 162px;
}

.gallery-3:hover {
  transform: translate(5px, 0);
}

.ellipse-1-4 {
  align-self: center;
  height: 120px;
  margin-right: 7.0px;
  margin-top: 59px;
  width: 120px;
}

.wip-please-come-bac {
  letter-spacing: 0;
  line-height: normal;
  min-height: 55px;
  width: 700px;
}

